<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu vuelo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{url_for('static' , filename='img/LogoBlanco.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/sb-admin-2.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/Main.css')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='css/Layout.css')}}">
</head>
<body>
    <div class="container-fluid">
        <header class="shadow d-flex px-2 flex-row align-items-center justify-content-between">
            <div class="d-flex flex-row">
                <img src="{{url_for('static' , filename='img/Logo.png')}}" class="img-fluid|thumbnail rounded-top|rounded-end|rounded-bottom|rounded-start|rounded-circle| logo" alt="Logo">
                <div class="topbar-divider d-none d-sm-block divisorLogo"></div>
            </div>            
            <div class="d-flex flex-row">
                <div class="topbar-divider d-none d-sm-block divisorLeft"></div>
                <div class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 text-gray-600 small">{{current_user.name}}</span>
                    <img class="img-profile rounded-circle" src="{{url_for('static' , filename='img/user.png')}}" style="width: 40px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#"> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Perfil</a>
                    <a class="dropdown-item" href="#"><i  class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Configuracion</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>Mis vuelos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="window.location.href = '/auth/logout'"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar sesíon</a>
                </div>
                </div>
            </div>            
        </header>
        <div class="contenedor-anidado">
            <menu class="shadow "> 
                <div class="nav-item">
                    <a class="nav-link" onclick="window.location.href = '/dashboard'">
                        <i class="far fa-calendar"></i>
                        <span>Dashboard</span></a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-info-circle"></i>
                        <span> Informacion de vuelos</span></a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fighter-jet"></i>
                        <span> Acceder a vuelo</span></a>
                </div>
                <div class="nav-item" >
                    <a class="nav-link" onclick="window.location.href = '/miinformacion'">
                        <i class="fas fa-cogs"></i>
                        <span> Mi informacion</span></a>
                </div>
            </menu>
            <div class="contenido w-100 h-100" style="overflow-y: auto; overflow-x: auto; height: calc(100vh - 70px) !important;">
                {%block contenido%}
                {%endblock%}    
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    
</body>
<script>
    //@ts-check
    //Menu lateral
    var menu = document.querySelector('menu');
    menu.addEventListener('dblclick', function (e) {
        var isExpanded = !menu.classList.contains('hideMenu');
        menu.classList.remove(!isExpanded ? 'hideMenu' : 'showMenu');
        menu.classList.add(isExpanded ? 'hideMenu' : 'showMenu');
    });
</script>
<style>
    span, i {
        color: black;
        font-size: 15px;
    }

    nav-item:first-child {
        padding-top: 20px;
    }

    .nav-item {
        margin-bottom: 10px;
    }

</style>
</html>