{% extends "_Layout.html"%}



{%block contenido%}
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Destinos frecuentes</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                                <hr>

                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Satisfaccion de usuarios</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Viaja con nosotros</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-area">
                                    <img src="{{url_for('static' , filename='img/colombia.gif')}}" class="card-img-top-b"alt="Mapa">
                                </div>
                                <hr>

                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Disponibilidad de vuelos</h6>
                            </div>
                            <div class="card-body">
                               <p>Conoce nuestros viajes y reserva ahora </p>
                               <button type="button" onclick="window.location.href = '/informacionvuelos'" class="btn btn-primary" style="background-color: #3a51bf;" data-toggle="modal"
                               data-target="#BotonModificar"> Reserva ahora </button>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script type="text/JavaScript" src="{{url_for('static' , filename='vendor/chart.js/Chart.min.js')}}"></script>
<script>
    ciudades = {{ciudades}}
    cantidadDestinos = {{cantidadDestinos}}
    calificaciones = {{calificaciones}}
</script>
<script type="text/JavaScript" src="{{url_for('static' , filename='js/js.js')}}"></script>
<script type="text/JavaScript" src="{{url_for('static' , filename='js/js1.js')}}"></script>
{%endblock%}