{% extends "_Layout.html"%}
{%block contenido%}
<div class="p-5">
    <h1>GESTION DE VUELOS</h1>
    <h2> PLATAFORMA DE GESTIÓN DE VUELOS </h2>
    <p><strong>Señor Usuario:</strong> A continuación usted podra realizar la gestión de vuelos
        que aterrizan o despegan
        desde el Aeropuerto Palonegro Internacional, dentro de esta aplicación usted podrá: </p>
    <Ol>
        <li value="1">Crear Vuelos</li>
        <li>Editar Vuelo</li>
        <li>Eliminar vuelo</li>
    </ol>

    <div class="row">
        <div class="col-4" style="justify-content: center;">
            <div class="card card-width">
                <img src="{{url_for('static' , filename='img/GestionVuelos/adicion.png')}}" class="card-img-top-b"
                    alt="Icono Vuelo">
                <div class="card-body">
                    <h5 class="card-title">Crear vuelo</h5>
                    <button type="button" class="btn btn-primary" style="background-color: #3a51bf" data-toggle="modal"
                        data-target="#BotonCrear"> Crear</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-width">
                <img src="{{url_for('static' , filename='img/GestionVuelos/editar.png')}}" class="card-img-top-b"
                    alt="Imagen avion">
                <div class="card-body">
                    <h5 class="card-title">Editar vuelo</h5>
                    <button type="button" class="btn btn-primary" style="background-color: #3a51bf;" data-toggle="modal"
                        data-target="#BotonModificar"> Editar </button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-width">
                <img src="{{url_for('static' , filename='img/GestionVuelos/eliminar.png')}}" class="card-img-top-b"
                    alt="Imagen avion">
                <div class="card-body">
                    <h5 class="card-title">Eliminar vuelo</h5>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" style="background-color: #3a51bf;" data-toggle="modal"
                        data-target="#BotonEliminar">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="BotonCrear" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <LEgend>Creación de Vuelos</LEgend>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field, errors in createForm.errors.items() %}
                        <div class="alert alert-danger">{{ ', '.join(errors) }}</div>
                    {% endfor %}
                    <form method="post" class="form_desplegable" id="POSTFORM">
                        {% for field in createForm %}
                            {% if ( "\"csrf" in field.label().lower() or "\"id" in field.label().lower()) %}
                                {{field(value = field.data)}}
                                {% continue %}
                            {% endif %}
                            {{field.label()}}{{field(value = field.data, class_='form-control')}}
                           
                        {% endfor %}
                    </form>

                    <script>
                        const onCreate = (e) => {
                                if(e != null) {
                                    e.preventDefault()
                                    e.stopPropagation();
                                }
                                var loading = document.getElementById("createLoading")
                                var form = document.getElementById("POSTFORM")
                                loading.style.display = 'flex';
                                form.style.display = 'none';
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", "/api/gestionvuelos"); 
                                xhr.onload = function(event){ 
                                    loading.style.display = 'none';
                                    form.style.display = 'block';
                                    response = JSON.parse(event.target.response)
                                    select = document.getElementById("removeSelect")
                                    editSelect = document.getElementById("editSelect")
                                    option = () => {
                                        var option = document.createElement("option");
                                        option.text = response.data.codigo
                                        option.value = response.data.id
                                        return option;
                                    }
                                    select.add(option())
                                    editSelect.add(option())
                                    alert(response.msg.replaceAll("|", "\n").replaceAll("\"", ""))
                                }; 
                                var formData = new FormData(form); 
                                xhr.send(formData);
                        }
                    </script>
                        <div id="createLoading" class="w-100 flex-row align-items-center justify-content-center" style="display: none;">
                            <div class="d-flex flex-column align-items-center">
                                <img src="{{url_for('static' , filename='img/loading.svg')}}">
                                <p>Cargando...</p>
                            </div>                        
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="onCreate()">Crear vuelo</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="BotonModificar" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <LEgend>Editar Vuelos</LEgend>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  class="form_desplegable" id="PUTFORM">
                        {% for field in modifyForm %}
                            {% if ( "\"csrf" in field.label().lower() or "\"id" in field.label().lower()) %}
                                {{field(value = field.data)}}
                                {% continue %}
                            {% endif %}
                            {{field.label()}}{{field(value = field.data, class_='form-control', id='editSelect', onchange="onEditChange()")}}
                            <script>
                                document.getElementById("editSelect").value = '{{field.data}}'
                            </script>
                        {% endfor %}
                    </form>

                    <script>
                        const onEditChange = () => {
                            loading = document.getElementById("editLoading")
                            iframe = document.getElementById("fameEditar")
                            iframe.style.display = 'none';
                            loading.style.display = 'flex';
                            var xhr = new XMLHttpRequest();
                            xhr.open("GET", "api/gestionvuelos?"+new URLSearchParams(new FormData(document.getElementById("PUTFORM"))).toString()); 
                            xhr.onload = function(event){ 
                                iframe.contentWindow.document.open();
                                iframe.contentWindow.document.write(event.target.response);
                                iframe.contentWindow.document.close();
                                loading.style.display = 'none';
                                iframe.style.display = 'block';
                            }; 
                            xhr.send();
                        }
                    </script>

                    <div id="editLoading" class="w-100 flex-row align-items-center justify-content-center" style="display: none;">
                        <div class="d-flex flex-column align-items-center">
                            <img src="{{url_for('static' , filename='img/loading.svg')}}">
                            <p>Cargando...</p>
                        </div>                        
                    </div>
                    <iframe name="fameEditar" id="fameEditar"style="width: 100%; display: none; height: 520px;border: none;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="BotonEliminar" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <LEgend>Eliminar Vuelos</LEgend>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field, errors in deleteForm.errors.items() %}
                        <div class="alert alert-danger">{{ ', '.join(errors) }}</div>
                    {% endfor %}
                    <form  class="form_desplegable" id="DELETEFORM" onsubmit="onSend(event)">
                        {% for field in deleteForm %}
                            {% if ( "\"csrf" in field.label().lower() or "\"id" in field.label().lower()) %}
                                {{field(value = field.data)}}
                                {% continue %}
                            {% endif %}
                            {{field.label()}}{{field(value = field.data, class_='form-control', id='removeSelect')}}
                            <script>
                                document.getElementById("removeSelect").value = '{{field.data}}'
                            </script>
                        {% endfor %}
                    </form>

                    <script>
                        const onSend = (e) => {
                            if(e != null) {
                                e.preventDefault();
                                e.stopPropagation();
                            }
                            loading = document.getElementById("deleteLoading")
                            select = document.getElementById("removeSelect")
                            if(!select.value) {
                                alert("Valor invalido")
                                return
                            }
                            editSelect = document.getElementById("editSelect")
                            value = select.value
                            loading.style.display = 'flex';
                            var xhr = new XMLHttpRequest();
                            xhr.open("DELETE", "/api/gestionvuelos"); 
                            xhr.onload = function(event){ 
                                for (var i=0; i<select.length; i++) {
                                    if (select.options[i].value == value) {
                                        select.remove(i);
                                        break;
                                    }                                            
                                }
                                for (var i=0; i<editSelect.length; i++) {
                                    if (editSelect.options[i].value == value) {
                                        editSelect.remove(i);
                                        break;
                                    }                                            
                                }
                                iframe = document.getElementById("fameEditar")
                                iframe.style.display = 'none';
                                loading.style.display = 'none';
                            }; 
                            var formData = new FormData(document.getElementById("DELETEFORM")); 
                            xhr.send(formData);
                        }

                    </script>

                    <div id="deleteLoading" class="w-100 flex-row align-items-center justify-content-center" style="display: none;">
                        <div class="d-flex flex-column align-items-center">
                            <img src="{{url_for('static' , filename='img/loading.svg')}}">
                            <p>Cargando...</p>
                        </div>                        
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="onSend()">Eliminar vuelo</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{url_for('static' , filename='css/GestionVuelos/Estilos.css')}}">
{%endblock%}