{% extends "_Layout.html"%}
{%block contenido%}
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="row flex-column align-items-center justify-items-center">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Mi información</h6>
                                </div>
                                <div class="card-body">
                                    <div class="modal-body d-flex flex-column align-items-center justify-items-center">
                                        <img class="img-profile rounded-circle" src="{{url_for('static' , filename='img/user.png')}}" style="width: 80px;">  
                                        <form action="" class="form_desplegable mt-4 w-75">
                                            
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td>
                                                        <div class="size_label"><label for="Nombre">Nombre completo</label>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" style="width: 100%;" readonly
                                                            value={{usuario.nombre}} aria-readonly="true" readonly></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="size_label"><label for="Email">Email</label>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" style="width: 100%;" readonly
                                                        value={{usuario.correo}} aria-readonly="true" readonly></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
    <script type="text/JavaScript" src="{{url_for('static' , filename='vendor/chart.js/Chart.min.js')}}"></script>
    <script type="text/JavaScript" src="{{url_for('static' , filename='js/js.js')}}"></script>
    <script type="text/JavaScript" src="{{url_for('static' , filename='js/js1.js')}}"></script>


{%endblock%}