{% extends "_Layout.html"%}
{%block contenido%}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"></h1>
    <h2> PLATAFORMA DE GESTIÓN DE VUELOS </h2>
    <p><strong>Señor Usuario:</strong> A continuación usted podra visualizar los vuelos que aterrizan o despegan
        desde el Aeropuerto Palonegro Internacional</p>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Resumen de vuelos diario</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Codigo de vuelo</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Fecha de salida</th>
                            <th>Fecha de llegada</th>
                            <th>Estado</th>
                            <th>Calificacion general</th>
                            <th>Reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vuelo in vuelos %}
                        <tr>
                            <td>{{vuelo.codigo}}</td>
                            <td>{{vuelo.origen.nombre}}</td>
                            <td>{{vuelo.destino.nombre}}</td>
                            <td>{{vuelo.fecha_salida}}</td>
                            <td>{{vuelo.fecha_llegada}}</td>
                            <td>{{vuelo.estado}}</td>
                            <td> 
                                {% for i in range(0, vuelo.calificacion|int)%}
                                    <i class="fas fa-star" style="color: aqua;"></i>
                                {% endfor %}
                                {% if (vuelo.calificacion-vuelo.calificacion|int)|float !=  0|float %}
                                    <i class="fas fa-star-half" style="color: aqua;"></i>
                                {% endif %}
                            </td>
                            <td> 
                                {% if vuelo.estado == "Disponible" %}
                                    <button>Reservar vuelo</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



<link rel="stylesheet" href="{{url_for('static' , filename='css/GestionVuelos/Estilos.css')}}">
{%endblock%}