{% extends "_Layout.html"%}
{%block contenido%}
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid mt-4">
                <div class="row d-flex align-items-center justify-items-center flex-column">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Ver vuelo</h6>
                            </div>
                            <div class="card-body">
                                <div class="modal-body">
                                    <div>
                                        <form action="" class="form_desplegable">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="row">
                                                        <img class="img_center"
                                                            src="{{vuelo.avion.foto}}"
                                                            style="width: 80%;">
                                                    </div>
                                                    <div class="row mt-3">
                                                        <h6>Nombre: {{vuelo.avion.nombre}}</h6>
                                                        <h6>Capacidad: {{vuelo.avion.capacidad}}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <table border="0" style="width: 100%;">

                                                        <tr>
                                                            <td>
                                                                <div class="size_label"><label for="vuelo">Vuelo</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.codigo}}" readonly></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="size_label"><label
                                                                        for="Origen">Origen</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.origen.nombre}}" readonly></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="size_label"><label
                                                                        for="Destino">Destino</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.destino.nombre}}" readonly></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="size_label"><label
                                                                        for="Salida">Salida/Departure</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.fecha_salida}}" readonly></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="size_label"><label
                                                                        for="LLegada">LLegada</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.fecha_llegada}}" readonly></td>
                                                        </tr>
                                                    <tr>
                                                            <td>
                                                                <div class="size_label"><label
                                                                        for="Estado">Estado</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.estado}}"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="size_label"><label
                                                                        for="Piloto">Piloto</label>
                                                                </div>
                                                            </td>
                                                            <td><input type="text" style="width: 100%;" value="{{vuelo.piloto.nombre}}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Comentarios</h6>
                            </div>
                            <div class="card-body">
                                <div class="modal-body">
                                    <p>Aqui podras escribir tu reseña sobre tu experiencia en los aires!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <script type="text/JavaScript"
                    src="{{url_for('static' , filename='vendor/chart.js/Chart.min.js')}}"></script>
                <script type="text/JavaScript" src="{{url_for('static' , filename='js/js.js')}}"></script>
                <script type="text/JavaScript" src="{{url_for('static' , filename='js/js1.js')}}"></script>


                {%endblock%}